:root, body {
	background-color: black;
	color: grey;
	font-family: "New Courier", monospace;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h2 {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	white-space: nowrap;
	margin: 1em;
}

h3 {
	text-align: center;
}

@media only screen and (max-width: 1000px) {
	stats-panel {
		top: 50% !important;
		transform: translateY(-50%);
	}
}

@media only screen and (max-width: 700px) {
	h2 {
		white-space: initial;
	}
}

.fit-content {
	width: fit-content;
	height: fit-content;
}

.main-button {
	border: none;
	align-self: center;
	color: inherit;
	background-color: transparent;
}

.main-button:hover {
	color: dimgrey;
}

button, input[type="submit"] {
	cursor: pointer;
}

#scene-container {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: black;
}

control-panel {
	position: absolute;
	width: fit-content;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	margin: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#drake-form {
	display: flex;
	flex-direction: column;
}

input[type="text"] {
	min-width: 1em;
}

.form-line, .button-line, .checkbox-line {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.form-line > * {
	flex: 1;
}

.button-line {
	margin-top: 1.5em;
	justify-content: space-around;
}

.checkbox-line {
	justify-content: space-between;
}

#presets-field {
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	min-width: fit-content;
}

#presets-field > select {
	width: 8em;
}

.fieldset-grid {
	display: grid;
	grid-template-columns: auto 0.865fr;
	gap: 0.5em;
}

.fieldset-flex {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

.grid-label {
	grid-column: 1 / 2;
}

.grid-field {
	grid-column: 2 / 2;
}

.smooth-block {
	padding: 0.5em;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.8);
}

stats-panel {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	margin: 1em;
}

#presets-form {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}

#github-button {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 1em;
}

#github-button > a {
	color: inherit;
	text-decoration: none;
}
